<h1>Stupid Coaching</h1>
<p class="mx-3"><%= params[:question] %></p>
<p class="mx-3">-you</p>
<p class="mx-3"><%= @answer %></p>
<p class="mx-3">-your coach</p>
<p class="mx-3"><%= link_to "Ask a new question", ask_path %>
</p>
